.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 auto;
}

.column {
  padding: 1rem;
}

.section {
  margin-bottom: 1.5rem;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-group label {
  width: 150px;
}

.form-group input {
  flex: 1;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-group label {
  margin-right: 1rem;
}

.refraction-inputs {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
  gap: 0.5rem;

  input {
    width: 90%;
  }
}

.prism-inputs {
    display: grid;
    grid-template-columns: 1fr repeat(6, 2fr);
    gap: 0.5rem;
  
    input {
      width: 90%;
    }
  }
  